.sign-in {
  width: 410px;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  margin-top: 380px;
  color: black;
  // background-color: white;

  
  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

}