.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 15%;
  height: 550px;
  border: 1.1px solid rgb(214, 200, 200);
  color: RGB(0, 139, 139);
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
  position: absolute;
  margin-top: 40px;


  .side-bar-title {
    color: RGB(191, 8, 28);
    margin-left: 20%;
    font-size: 22px;
    font-weight: 700;
    height: 5%;
  }

  .side-bar-categories {  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 30%;

    .category-option {
      font-size: 12px;
      font-weight: normal;
      margin: 5px 0 0 15px;
      color: grey;
      cursor: pointer;
    }

  }

  .side-bar-colors {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 30%; 

    .color-option {
      font-size: 12px;
      font-weight: normal;
      margin: 10px 0 0 20px;
      color: grey;
      cursor: pointer;
    }

  }

  .side-bar-gender {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 30%;  

    .gender-option {
      font-size: 12px;
      font-weight: normal;
      margin: 0 0 0 20px;
      color: grey;
      cursor: pointer;
    }

  }

  .side-bar-other-filters {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 35%;

    .filter-option {
      font-size: 12px;
      font-weight: normal;
      margin: 0 0 0 20px;
      color: grey;
      cursor: pointer;
    }

  }

}