.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 15%;
  height: 520px;
  border: 1.1px solid rgb(214, 200, 200);
  color: RGB(0, 139, 139);
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
  position: absolute;
  margin-top: 20px;

  .side-bar-title {
    color: RGB(191, 8, 28);
    margin-left: 20%;
    font-size: 22px;
    font-weight: 700;
    height: 5%;
  }

  .side-bar-categories {  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 35%;

    .category-option {
      font-size: 12px;
      font-weight: normal;
      margin: 9px 0 1px 15px;
      color: grey;
      cursor: pointer;
      
      .clothes-option {
        font-size: 11px;
        font-weight: 600;
        color: grey;
        margin: 6px 0 0 15px;

        &:hover{
          color: RGB(0, 139, 139);
          font-size: 11px;
        }
      }
      
      &:hover{
        color: RGB(0, 139, 139);
        font-weight: 600;
        font-size: 11px;
      }
    }

  }

  .side-bar-colors {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 35%; 

    .color-option {
      font-size: 12px;
      font-weight: normal;
      margin: 4px 0 0 15px;
      color: grey;
      cursor: pointer;

      &:hover{
        color: RGB(0, 139, 139);
        font-weight: 600;
        font-size: 11px;
      }

    }

  }

  .side-bar-gender {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 35%;  

    .gender-option {
      font-size: 12px;
      font-weight: normal;
      margin: 3px 0 0 15px;
      color: grey;
      cursor: pointer;

      &:hover{
        color: RGB(0, 139, 139);
        font-weight: 600;
        font-size: 11px;
      }

    }

  }

  .side-bar-other-filters {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 30%;

    .filter-option {
      font-size: 12px;
      font-weight: normal;
      margin: 0 0 0 20px;
      color: grey;
      cursor: pointer;

      &:hover{
        color: RGB(0, 139, 139);
        font-weight: 600;
        font-size: 11px;
      }

    }

  }

}