.sign-up-sign-in {
  background-color: black;
  color: white;
  height: 40px;
  width: 100%;
  font-size: 0.75rem;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .sign-up-sign-in-option {
    text-decoration: underline;
    text-underline-position: below;
    color: white;
    word-spacing: 2px;
    cursor: pointer;
    padding: 0 6px;
  }

}